@model DCC.Models.TimeSheetEntry
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-edit"></i> Delete Timesheet Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <p>Delete Entry Date: @Model.SessionDate, Code:@Model.Code In: @Model.Start, Out: @Model.End, </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deletePayrollRecord(@Model.id);">DeleteEntry</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    $('#actionModal').modal('show');
</script>