@model DCC.Models.CredentialModal
<div id="actionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-edit"></i> <span>Add a New Credential</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="credId" value="0" />

                <div class="form-group">
                    <label for="credTypeId">Select Credential</label>
                    <select class="form-control form-control-sm doc" id="credTypeId">
                        <option value="0"></option>
                        <!--- if credtypeId is set then disable it -->
                        @foreach (var item in @Model.requiredCredentials)
                        {
                            <option value="@item.credTypeId">@item.credName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="docId">Document Id</label>
                    <input type="text" class="form-control form-control-sm doc" id="docId" />
                </div>
                <div class="form-group">
                    <div style="float:left">
                        <label for="validFrom">Valid From</label> 
                        <div class="input-group date">
                            <input id="validFrom" type="date" class="form-control form-control-sm"  placeholder="yyyy-mm-dd"/>
                        </div>
                    </div>
                    <div style="float:left;margin-left:10px">
                        <label for="validTo">Valid To</label>
                        <div class="input-group date">
                            <input id="validTo" type="date" class="form-control form-control-sm"  placeholder="yyyy-mm-dd"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input id="credFileName" class="form-control form-control-sm fileName" disabled style="margin-top:6px" />
                </div>
                <div class="form-group">
                    <label class="btn btn-sm btn-secondary">
                        Select File <input id="credFileNameX" type="file" style="display:none" onchange="getCredentialFileName();" />
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateCredential();">Add Credential</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

$('#actionModal').modal('show');
</script>
