@model DCC.ViewModelBase

@*Moved all the items to Billing SubMenu in the main Menu*@

@*<div class="row">
        <div class="col-xl-12">
            <div class="menu">
                <a href="/SkilledBilling" style="float:left">Skilled Billing</a>
                <a href="/CashBilling" style="float:left">Cash Pay/School Clients</a>
                <a href="/NonSkilledBilling" style="float:left">Non Skilled Billing</a>

            </div>
        </div>
    </div>*@




