@model DCC.ViewModelBase
<div class="row">
    <div class="col-xl-12">
        <div class="menu">
            <a href="~/Company" style="float:left">Company</a>
            <a href="~/Alerts" style="float:left">Alerts</a>
            <a href="~/CredentialSettings" style="float:left">Credentials</a>
            <a href="~/CompanyLocations" style="float:left">Locations</a>
            <a href="~/Questions" style="float:left">Questions</a>
            <a href="~/Reports" style="float:left">Reporting</a>
            @*<a href="~/InsuranceCompany" style="float:left">Insurance Company</a>*@
            <a href="~/BillingInsuranceCompany" style="float:left">Billing Insurance Company</a>
            @* <a href="~/ClearingHouse" style="float:left">Clearing House</a>*@
            <a href="~/Diagnosis" style="float:left">Diagnosis</a>
            <a href="~/TherapyRate" style="float:left">Therapy Rates</a>
        </div>
    </div>
</div>

