

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="GetStaffFromQB();">Get Quickbase Staff Data</button>
        </div>
    </div>
</div>
<script>

    function GetStaffFromQB() {
        
        $.ajax({
            type: 'GET',
            url: '/QBStaff/GetQuickbaseStaffData',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: SuccessR,
            error: ajaxError,
            timeout: 100000
        });
    }
    function SuccessR(r) {
        waitOff();
        if (r.code === 1) Alert('System Error - ' + r.msg);
        else if (r.code === 2) Alert('Error - ' + r.msg);
        else {
            Alert('Success');
        }
    }
</script>