@model DCC.Models.Staff.StaffService
<div id="actionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-edit"></i> Remove Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="cred">Client Name: @Model.clientName</div>
                <div class="cred">Service: @Model.svcLong</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteStaffService(@Model.relId);">Remove Service</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
 $('#actionModal').modal('show');
</script>