

@model DCC.ModelsLegacy.ClearingHouses
@{

}

@*@Html.Partial("MenuHeader", @Model)

 @Html.Partial("SettingsHeader", @Model)*@

<label>hvjhhvvjh</label>

<div id="clearingHouseDiv">

    <label>jbbjbjbbkb</label>

</div>



@section Scripts
    {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/auto-complete/jquery.auto-complete.js"></script>
    @*<script src="~/Scripts/auto-complete/jquery.auto-complete.min.js"></script>*@
    <link href="~/Content/jquery.auto-complete.css" rel="stylesheet" />
}

