@model DCC.Models.ClientPageData

<!--
<div class="hdr">
    @if (Model.userLevel != "Provider" && Model.userLevel != "Supervisor")
    {
        <i class="fa fa-plus-square faBtn" onclick="openGuardianEdit(0);"></i>
    }
    Guardians
</div>


<div>
    Name: <span id="gfn">Alan</span> <span id="gln">Smith</span><br />
    Address:<br />
    <span id="gad1">183 E Benrich Ct</span> <span id="gad2"></span><br />
    <span id="gcty">Phoenix</span> <span id="gst">AZ</span> <span id="gst">85086</span><br />
</div>
-->