@model DCC.Models.ProviderService

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-edit"></i> Remove Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="relId" value="@Model.relId" />

                <div class="cred">Service: <span id="serviceD">@Model.service</span></div>
                <div class="cred">Staff Member: <span id="staffNameD">@Model.providerName</span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteProviderService();">Remove Service</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#actionModal').modal('show');

</script>
