@model DCC.Models.ClientService

<div id="actionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-edit"></i> Next Visit Date</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nextATCMonitoringVisit">Next Report Due</label>
                    <div class="input-group date">
                        <input id="nextATCMonitoringVisit" value="@Model.nextATCMonitoringVisit" type="date" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateNextVisitDate(@Model.clsvidId);">Set Next Visit Date</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#actionModal').modal('show');
</script>
