@model DCC.Models.AddClientModal
<div id="actionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-edit"></i> Add Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="selectClient">Client</label>
                    <select id="selectClient" class="form-control form-control-sm">
                        <option value="0"></option>
                        @foreach (var item in Model.clients)
                        {
                            <option value="@item.value">@item.name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectRelationship">Guardian/Client Relationship</label>
                    <select id="selectRelationship" class="form-control form-control-sm">
                        <option value="0"></option>
                        @foreach (var item in Model.relationships)
                        {
                            <option value="@item.value">@item.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addClient();">Add Client</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#actionModal').modal('show');
</script>
